.blog {
    margin-bottom: 10rem;

    &-heading {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 8rem;
    }

    &-title {
        font-size: 4.5rem;
        font-weight: 700;
        margin-bottom: 2.4rem;
    }

    &-text {
        font-size: 1.6rem;
        color: $gray;
        margin-bottom: 6.4rem;
    }

    &-input {
        width: 70rem;
        height: 8rem;
        background-color: white;
        color: $text-color;
        border-radius: 2rem;
        font-size: 1.6rem;
        padding-left: 3.2rem;
        border: 1px solid $gray;
    }

    &-button {
        font-size: 1.6rem;
        width: 16rem;
        height: 8rem;
        background-color: $text-color;
        color: white;
        border-radius: 2rem;
        border: none;
    }

    &-search {
        margin-bottom: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    &-image {
        width: 29rem;
        height: 20rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 2rem;
        }
    }

    &-card_title {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 1.6rem;
    }

    &-card_text {
        color: $gray;
        margin-bottom: 3.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipse;
        overflow: hidden;
    }

    &-image_user {
        width: 4rem;
        height: 4rem;

        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-time {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &-name {
        font-weight: 600;
    }

    &-user_title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        gap: 3rem;
    }

    &-line {
        height: 40px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    &-user {
        display: flex;
        align-items: center;
        gap: 1.4rem;
    }

    &-left_card {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4rem;
    }

    &-card {
        max-width: 51rem;
    }

    &-right_heading {
        font-size: 3.2rem;
        font-weight: 700;
        margin-bottom: 3.2rem;
    }

    &-right_image {
        width: 18rem;
        height: 12rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 2rem;
        }
    }

    &-right_title {
        font-size: 2rem;
        font-weight: 600;
        text-align:left ;
        display: -webkit-box;
        -webkit-line-clamp: 2; // số dòng muốn hiển thị
        -webkit-box-orient: vertical;
        text-overflow: ellipse;
        overflow: hidden;
    }

    &-right_text {
        color: $gray;
    }

    &-right_body {
        max-width: 19.6rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &-right_card {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &-content {
        display: flex;
        justify-content: space-between;
    }

    &-right_list {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    &-left_list {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
    }

}

@media screen and (max-width: 1024px) {
    // .blog-right {
    //     display: none;
    // }

    .blog-content {
        justify-content: center;
    }

    .blog-text {
        text-align: center;
    }

    .blog-image {
        width: 100%;
        min-height: 10rem;
        max-height: 30rem;
        max-width: 50rem;
    }
}

@media screen and (max-width: 768px) {
    .blog-right {
        display: none;
    }

    .blog-text,
    .blog-title {
        text-align: center;
    }

    .blog-content {
        justify-content: center;
    }

    .blog-left_card {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .blog-image {
        width: 100%;
        min-height: 10rem;
        max-height: 30rem;
        max-width: 50rem;
    }

    .blog-input {
        width: 100%;
    }
}