$text-color:#000;
$light-blue-mix:linear-gradient(270deg, #E9F9FF 64.06%, #ffece7da 96.56%);
$light-blue-pink: linear-gradient(360deg, #E9F9FF 64.06%, #ffece7da 76.56%);
$blue:linear-gradient(180deg, rgba(231, 249, 253, 0.00) 0%, #E7F9FD 100%);
$gray:#a8aeb3;
$light-gray:#ccd4dc;
$primary:#5171f1;
$light-blue:#E7FAFE;
$font-roboto: 'Roboto', sans-serif;
